<p [ngStyle]="{'color':'red','font-size':'100px'}">
  class-binding-ex1 works!
</p>

<p  [ngStyle]="style">
    class-binding-ex1 works!
  </p>
  
<button (click)="success()">success</button>
<button (click)="failure()">failure</button>



<input  type = "radio" [(ngModel)]="gender" (click)="success()" name="Male" value="Male"/><span  [ngStyle]="style1">Male</span>
<input  [ngStyle]="style" type = "radio" [(ngModel)]="gender" (click)="failure()" name="Female" value="Female"/><span  [ngStyle]="style2">FeMale</span>

