<!-- <p>
  directives works!
</p>
<input type="checkbox" [(ngModel)]="div">
<div *ngIf="div else x">
  Hello Micky
</div>
<ng-template #x>
  Hello Minnie
</ng-template>


<hr/>
<div>
    <button (click)="display('fruits')"> Fruits</button>
    <button (click)="display('vegetables')"> Vegetables</button>
    
    <h3>{{heading}}</h3>
    <ul>
      <li *ngFor="let i of fruits">{{i}}</li>
    </ul>
    
    {{msg}}

</div> -->

    <h2>List of employees</h2>
    <table border="1px solid purple">
      <tr>
        <th>Index</th>
        <th>ID</th>
        <th>Name</th>
        <th>Job</th>
        <th>Salary</th>
        <th>Operations</th>
      </tr>
      <tr *ngFor="let e of employees; let i=index">
        <td>{{i}}</td>
        <td>{{e.id}}</td>
        <td>{{e.ename}}</td>
        <td>{{e.job}}</td>
        <td>{{e.sal}}</td>
        <td><button (click)='search(i)'>Select</button></td>    
        <td><button (click)='delete(i)'>Delete</button></td>    
        <td><button (click)='add()'>Add Row</button></td> 
      </tr>
    </table>

Id:<input type="number" [(ngModel)]='x.id'/><br>
Name:<input type="text" [(ngModel)]='x.ename'/><br>
Job:<input type="text" [(ngModel)]='x.job'/><br>
Salary:<input type="number" [(ngModel)]='x.sal'/>





