<p>
  student-list-child works!
</p>
<input type="radio" name=".net" value=".net">.net
<input type="radio" name=".net" value=".net">react
<input type="radio" name=".net" value=".net">angular
<input type="radio" name=".net" value=".net">.net