<p>
  event-binding-ex3 works!
</p>
Enter Number 1- <input type="number" [(ngModel)]='a'/><br/>
Enter Number 2 -<input type="number" [(ngModel)]='b'/>
<button (click)="Calculate()">Add</button>
{{msg}}