<p>
  event-binding-ex4 works!
</p>
<input type="text" [(ngModel)]="name" />
<input type = "radio" [(ngModel)]="gender" name="Male" value="Male"/>Male
<input type = "radio" [(ngModel)]="gender" name="Female" value="Female"/>Female
<button (click)="display()">click here</button>
{{msg}}