<p>
  forms works!
</p>
<form #data="ngForm" (ngSubmit)="display(data)">
  Name:<input type="text" required  name="Fname" [(ngModel)]="Fname" #nameControl="ngModel"><br/>
  <span *ngIf="nameControl.invalid" [ngStyle]="{'color':'red'}">Name is mandatory</span><br/>
  Eamil:<input required type="email" pattern="[a-z]" name="email" [(ngModel)]="email"  #emailControl="ngModel"><br/>
  <span *ngIf="emailControl.errors?.pattern" [ngStyle]="{'color':'red'}">email should follow the pattern</span><br/>
  <span *ngIf="emailControl.invalid" [ngStyle]="{'color':'red'}">email is mandatory</span><br/>
 
  <button [disabled]="data.invalid">Submit</button>
</form>

<!-- {{data.value | json }} -->

{{msg | json}}<br/>
Name:{{list.Fname}}<br/>
Email:{{list.email}}

Touched:{{nameControl.touched}}<br/>
UnTouched:{{nameControl.untouched}}<br/>
Dirty:{{nameControl.dirty}}<br/>
Pristine:{{nameControl.pristine}}<br/>
Valid:{{nameControl.valid}}<br/>
invalid:{{nameControl.invalid}}<br/>