.sample{
    color:purple;
    text-decoration:underline;
    border:2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.sample1{
    width:100%;
    border:2px solid black;
}