<div style="border:3px solid green">
    <h1>Parent Component</h1>
    Value Received from child:{{value}}<br/>
    <input type="text" [(ngModel)]="msg"><br/>
    <app-child [parentData]="messageToChild()" (childEvent)="value=$event"></app-child>

</div>
