<h2>Parent</h2>

<h2>List of employees</h2>
    <table border="1px solid purple">
      <tr>
        <th>Index</th>
        <th>ID</th>
        <th>Name</th>
        <th>Skill</th>
      </tr>
      <tr *ngFor="let e of employees; let i=index">
        <td>{{i}}</td>
        <td>{{e.id}}</td>
        <td>{{e.ename}}</td>
        <td>{{e.skill}}</td>
       
        <td><button (click)='search(i)'>Select</button></td>    
        <td><button (click)='delete(i)'>Delete</button></td>    
        <td><button (click)='add()'>Add Row</button></td> 
      </tr>
    </table>
    <app-student-list-child [empParentData]="messageToChild()"></app-student-list-child>