<div>
      <h2>
        property-binding-ex5 works!
      </h2>
      <img width="200px" height="100px" [src]="path1" [title]="title1">

      <button (click)='getImage("Puppy")'>click</button>
      <button (click)='getImage("")'>click</button>
</div>
