<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
   <h1>
    Welcome to {{ title }}!
  </h1>
  <section>
    <h3>Date:{{get('date')}}</h3>
    <h3>Time:{{get('time')}}</h3>
  </section>
  <section>
    <h2>Two way Data Binding</h2>
    Source Name: <input type="text" [(ngModel)]="name"/><br/>
    `Hello {{name.toUpperCase()}}`<br/>
    Hello {{name.toLowerCase()}}<br/>
    Target Name: <input type="text" [(ngModel)]="name"/>
  </section>
  <section>
    Source Name: <input type="number" [(ngModel)]="num"/><br/>
    Value of num : {{num}}<br/>
     Square of num: {{num*num}}<br/>
    Target Name: <input type="text" [(ngModel)]="name"/>
  </section>
  <section>
    Choose Direction:
    <select [(ngModel)]="direction">
      <option *ngFor="let i of items" value="i">{{i}}</option>
    
    <option value="west">West</option>
      <option value="north">North</option>
      <option value="south">South</option>
    </select>
    </section>
   <section>
     <input type="checkbox" [(ngModel)]="ex1">ex1
     <input type="checkbox" [(ngModel)]="ex2">ex2
     <input type="checkbox" [(ngModel)]="ex3">ex3
     <input type="checkbox" [(ngModel)]="ex4">ex4
     <input type="checkbox" [(ngModel)]="ex5">ex5

   </section>

</div> -->

  <!-- <app-event-binding-ex1 *ngIf="ex1" [ngStyle]="{'padding':'3px'}"></app-event-binding-ex1>
  <app-event-binding-ex2 *ngIf="ex2" [ngStyle]="{'padding':'3px'}"></app-event-binding-ex2>
  <app-event-binding-ex3 *ngIf="ex3" [ngStyle]="{'padding':'3px'}"></app-event-binding-ex3>
  <app-event-binding-ex4 *ngIf="ex4" [ngStyle]="{'padding':'3px'}"></app-event-binding-ex4>
  <app-event-binding-ex5 *ngIf="ex5" [ngStyle]="{'padding':'3px'}"></app-event-binding-ex5><hr/>
  <app-property-binding-ex1></app-property-binding-ex1><hr/>
  <app-property-binding-ex5></app-property-binding-ex5><hr/>
  <app-style-binding-ex1></app-style-binding-ex1>
  <app-class-binding-ex1></app-class-binding-ex1> 
  <app-directives></app-directives>-->

<!-- 
<div >
<h1 style="text-align:center;color:blueviolet">Nested Component</h1>
  <app-parent></app-parent>
</div> -->
<hr/>
<!-- <app-student-list-parent></app-student-list-parent> -->

<div class="container">
  <div class="row">
    <!-- <div class="visible-lg">
        <div class="col-lg-3">
            <h3>Id</h3>
          </div>
          <div class="col-lg-3">
              <h3>Id</h3>
            </div>
            <div class="col-lg-3">
                <h3>Id</h3>
              </div>
              <div class="col-lg-3">
                  <h3>Id</h3>
                </div>
    </div>
    <div class="visible-md">
        <div class="col-md-4">
            <h3>Name</h3>
          </div>
          <div class="col-md-4">
              <h3>Name</h3>
            </div>
            <div class="col-md-4">
                <h3>Name</h3>
              </div>
              
    </div>
     -->
     <!-- <button class="text-right btn-primary">asgdhasgdhasg</button> -->
  </div>
</div>

<!-- <app-shop-one></app-shop-one>
<app-shop-two></app-shop-two>
<div class="container">
    <app-products></app-products>
</div>



<div class="container">
  <h2>Pipes</h2>
  
  value:<input type="text" [(ngModel)]="name"><br>
  {{"given value "+name}}<br/>
  {{ name | uppercase}}<br/>
  {{ name | lowercase}}<br/>
  {{ name | titlecase}}<br/>
  {{ name | titlecase}}<br/>
</div>

<div class="container">
  <h3>Custom Pipes</h3>
</div>

<app-forms></app-forms> -->


<!-- <app-service-eg1></app-service-eg1> -->
<!-- <app-service-eg2></app-service-eg2> -->


<router-outlet></router-outlet>