<p>
  service-eg2 works!
</p>
<button (click)="getStudentfromApi()">click</button>
<table class="table table-bordered table-hover">
  <tr *ngFor="let i of data">
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.course}}</td>
  </tr>
</table>