<p>
  products works!
</p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>index</th>
      <th>id</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Cost</th>
    </tr></thead>
<tbody>
    <tr *ngFor="let i of products;let ii =index" (mouseover)='change(i)'>
      <td>{{ii}}</td>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.brand}}</td>
        <td>{{i.cost}}</td>
      </tr>
    
</tbody>
    
</table>

<div clas="container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of list1">
        <td>{{x.id}}</td>
        <td>{{x.value | myPipe:x.value}}</td>
        <td>{{x.args}}</td>
      </tr>
    </tbody>
  </table>
</div>