<div style="border:5px solid red">
<h2>
  child works!
</h2>
<button (click)="display()">click</button>
{{msg}}

<input type="text" [(ngModel)]="t1">
<button (click)="sendDataToParent(t1)">send data to parent</button>
</div>